.name{
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #7fc6f3;
  filter: drop-shadow(5px 5px 8px black)
}

.noBullet {
  list-style: none;
}

.list {
  overflow-y: scroll;
  min-width: 100%;
}